* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

/* Global Styles */
body {
  padding: 10px;
  min-height: 100vh;
  position: relative;
  background-color: #15171e;
  color: #bbb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Button Styles */
.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #4d5b9e;
  border-radius: 15px;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #f5f7fb;
  cursor: pointer;
}

.submit-btn:hover:not(:disabled) {
  opacity: 0.8;
}

.submit-btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

/* Start Quiz Page Styles */
.start-quiz-page {
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: #293264;
  text-align: center;
}

.start-quiz-page .selectOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.start-quiz-page .selectOptions--options {
  display: flex;
  gap: 15px;
  width: 100%;
}
.start-quiz-page input,
.start-quiz-page select {
  flex: 1;
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 8px;
}

.start-quiz-page .pickOptionsCaption {
  font-size: 18px;
}

.start-quiz-page .subCaption {
  text-transform: capitalize;
}

.start-quiz-page h1,
.start-quiz-page p {
  color: #bbb;
}

.start-quiz-page h1 {
  font-size: 4rem;
}

.start-quiz-page p {
  font-size: 2.5rem;
  font-weight: bold;
}

/* Quiz Page Styles */
.quiz-page {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* Answer Component Styles */
.answer-list-item {
  background-color: transparent;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(123, 123, 242);
  border-radius: 10px;
  font-size: inherit;
  min-width: 100px;
  cursor: pointer;
}

.answer-list {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

input[type='radio'] {
  display: none;
}

/* Score Styles */
.score {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  color: #bbb;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 75px;
  margin-top: 75px;
}

.score span,
.score button {
  flex: 1;
}

.score button {
  border-radius: 8px;
  border: none;
  background-color: #4d5b9e;
  color: #bbb;
  padding: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

/* Answer Background Options Styles */
.selected {
  background-color: #0074e0;
  font-weight: bold;
}

.incorrect {
  background-color: #dd0000;
  color: #f5f7fb;
  font-weight: bold;
}

.correct {
  background-color: #6cdb00;
  color: black;
  font-weight: bold;
}

/* Media Query for mobile */
@media (max-width: 768px) {
  /* Start Page Media Query */
  .start-quiz-page {
    height: 100dvh;
    justify-content: space-evenly;
  }

  .start-quiz-page .selectOptions {
    gap: 20px;
  }
  .start-quiz-page .pickOptionsCaption {
    width: 85%;
    align-self: center;
  }

  .start-quiz-page .selectOptions--options {
    flex-direction: column;
  }

  /* Question Card Media Query */
  .answer-list {
    flex-direction: column;
    gap: 10px;
  }
  /* Score Media Query */
  .score {
    flex-direction: column;
  }
  .score button {
    width: 100%;
  }
}
